<template>
    <div>
        <h1>Manage users on the platform</h1>

        <img v-show="pageLoader" class="loader" src='/Images/loader.gif' />

        <table v-show="!pageLoader" class="table tablesorter">
            <thead>
                <tr>
                    <th v-for="(column, index) in columns" :key="index">{{column}}</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(item, index) in users" :key="index">
                    <td>{{item.email}}</td>
                    <td>{{item.isAdmin ? "Super User" : "User"}}</td>
                    <td>
                        <button class="btn btn-info" @click="toggleModal(item.id, item.email, item.isAdmin)">
                            Edit
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="modal fade"
         @click.self="closeModal"
         :class="[{'show d-block': show}, {'d-none': !show}]"
         v-show="show"
         tabindex="-1"
         role="dialog"
         :aria-hidden="!show">

      <div class="modal-dialog">
        <div class="modal-content">

          <div class="modal-header">
              <button type="button" class="btn" @click="closeModal" data-dismiss="modal" aria-label="Close">
                <i @click="closeModal">X</i>
              </button>
          </div>
          <div class="modal-body">
            <form class="form " @submit.prevent="updateUser">
                <div class="form-group">
                    <label class="control-label">Email</label>
                    <input type="email" v-model="email" name="email" class="form-control" required />
                </div>

                <div class="form-group toggle-box">
                    Make super user : 
                    <label class="custom-toggle">
                        <input type="checkbox" v-model="isAdmin"> 
                        <span data-label-off="No" data-label-on="Yes" class="custom-toggle-slider rounded-circle"></span>
                    </label>
                </div>

                <div class="form-group">
                    <button class="btn btn-primary">
                        <img src="/Images/loader.gif" v-show="formLoader" />
                        Update
                    </button> 
                </div>
            </form>
          </div>

        </div>
      </div>

    </div>
    </div>
</template>

<script>

    export default {
        name: 'Admin',

        data(){
            return {
                showClose : false,
                show : false,
                email : "test@gmail.com",
                id : 0,
                method: "PUT",
                isAdmin : 0,
                columns : [
                    'Email',
                    'IsAdmin'
                ]
            }
        },

        mounted(){
            this.$store.dispatch('loadUsers');
        },

        computed : {
            users(){
                return this.$store.getters.users;
            },

            formLoader(){
                return this.$store.getters.formLoader;
            },

            pageLoader(){
                return this.$store.getters.pageLoader;
            }
        },

        methods : {
            closeModal : function () {
                this.show = false;
            },  

            async updateUser () {
                const result = await this.$store.dispatch('updateUser', {
                    id : this.id,
                    email : this.email,
                    isAdmin : this.isAdmin ? 1 : 0,
                    _method : this.method
                });

                this.closeModal();

                console.log(result);

            },

            toggleModal : function (id, email, isAdmin) {
                this.email = email;
                this.id = id;
                this.isAdmin = isAdmin === 1 ? true : false;
                this.show = !this.show;
            }
        },
        
    }

</script>

<style lang="scss">
    .modal{
        background-color: rgba(255, 255, 255, 0.7);
        .modal-content{
            background-color: #1e1e2f;
        }
    }

    .toggle-box{
        align-items: center;
        width: 205px;
        display: flex;
    }

    .custom-toggle input:checked+.custom-toggle-slider:after {
        content: attr(data-label-on);
        color: #5e72e4;
        right: auto;
        left: 0;
    }

    .custom-toggle input:checked+.custom-toggle-slider:before {
        background: #5e72e4;
        -webkit-transform: translateX(28px);
        transform: translateX(28px);
    }

    .custom-toggle-slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 140px;
        right: 0;
        bottom: 0;
        border: 1px solid #ced4da;
        border-radius: 34px!important;
        background-color: transparent;

        &::before{
            position: absolute;
            content: "";
            height: 18px;
            width: 18px;
            top: 7px;
            right: 34px;
            border-radius: 50%!important;
            background-color: #e9ecef;
            -webkit-transition: all .15s cubic-bezier(.68,-.55,.265,1.55);
            transition: all .15s cubic-bezier(.68,-.55,.265,1.55);
        }

        &::after{
            color: #ced4da;
            content: attr(data-label-off);
            display: block;
            font-family: inherit;
            font-weight: 600;
            font-size: .75rem;
            line-height: 24px;
            position: absolute;
            right: 0;
            margin: 0 .21667rem;
            top: 5px;
            text-align: center;
            min-width: 1.66667rem;
            overflow: hidden;
            -webkit-transition: all .15s ease;
            transition: all .15s ease;
        }
    }
</style>