<template>
    <div>
        <h3>View chance of rain in this region</h3>

        <div id="map">
            <Map />
        </div>
    </div>
</template>

<script>
    import Map from './Map.vue';

    export default {
        name: 'Dashboard',
        components : {
            Map
        }
    }

</script>
