<template>
    <div>
      <button class="btn btn-danger" @click="clearMap">Clear Map</button>
      <button @click="fetchLayer(0)" class="btn btn-info">Chance of Rain - Today</button>
      <button @click="fetchLayer(1)" class="btn btn-warning">Chance of Rain - Tommorrow</button>
      <button @click="fetchLayer(2)" class="btn btn-primary">Chance of Rain - After Tomorrow</button>
      <br/>
      <h5>The map</h5>
      <div class="map-container">
        <div id="mapBox"></div>
        <div class="loading-overlay" v-show="mapLoading">
          <img src="/Images/loader.gif" />
        </div>
        <img :src="overlayImg" v-if="overlayImg !== ''" id="overlay-img" />
      </div>
      
    </div>
</template>

<script>
import "leaflet/dist/leaflet.css";
import L from "leaflet";
import { GetRequest } from '../../Api';

export default {
  name: "Map",

  data() {
      return{
        layer : 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
        authKey : 'XhoC6Lq3BbcvCFQhY6IIfTzBgSWUIDVt',
        lonSW : "-17.660815793142902",
        latSW : "0.832324134646725",
        latNE : "17.398555673940432",
        lonNE : "16.346023160086261",
        overlayImg : null,
        map : null,
        token : localStorage.getItem('dash-token'),
        mapLoading : false
      }
    },
    methods : {

      setupLeafletMap: function () {
        const map = L.map('mapBox');

        const markerIcon = L.icon({
          iconUrl : '/Images/pin.png',
          iconSize: [50, 55],
          // iconAnchor : [22, 94],
          // popupAnchor: [],
          // shadowAnchor : []
        });

        let bound = map.fitBounds([
            [this.latSW, this.lonSW],
            [this.latNE, this.lonNE]
        ]);

        const center = bound.getCenter();

        L.tileLayer(this.layer, {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

        map.setZoom(4);

        L.marker(center, {icon: markerIcon}).addTo(map)
            .bindPopup('This is the center of this region')
            .openPopup();

        map.on('click', function(e) {
            console.log("Lat, Lon : " + e.latlng.lat + ", " + e.latlng.lng);
        });
      },

      clearMap : function (){
          this.overlayImg = null;
      },

      fetchLayer : function (day) {
        const query = {
            lat1 : this.latSW,
            lon1 : this.lonSW,
            lat2 : this.latNE,
            lon2 : this.lonNE,
            day : day,
            w: 1280,
            h : 720
        };

        this.mapLoading = true;

        const response = GetRequest(query, 'fetch_map_layer', this.token);

        response.then(({data}) => {
          this.overlayImg = data.imgurl;
          this.mapLoading = false;

        }).catch(error => {
          console.log(error);
          this.mapLoading = false;
        });

        
      },

      locationSpecificValues : function(lat, lon, day){
        const query = {
          lon: lon,
          lat : lat,
          day : day
        }

        const response = GetRequest(query, 'fetch_location', this.token);

        response.then(({data}) => {
          this.overlayImg = data.imgurl
        }).catch(error => console.log(error));

      }
        
    },

    mounted() {
        this.setupLeafletMap();

        console.log(this.map);
    },

    created() {

    }
  };
</script>

<style scoped>
  .map-container{
    width: 100%;
    height: 400px;
    position: relative;
  }

  #mapBox {
    height: 400px;
    position: relative;
  }

  #overlay-img{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 400;
  }

  .loading-overlay{
    width: 100%;
    position: absolute;
    background-color: rgba(255,255,255,.8);
    height: 100%;
    top: 0;
    z-index: 450;
  }

  .loading-overlay img{
    display: block;
    margin: 13% auto;
    width: 144px;
  }

</style>