<template>
    <div class="auth-container">
        <div class="card">
            <div class="card-header">Register to access Dashboard</div>

            <div class="card-body">
                <form class="form " @submit.prevent="Register">
                     <ul class="error-list" v-if="error && error.errors">
                        <template  v-for="(value, name, index) in error.errors" :key="index">
                            <li class="list-item" v-for="(item, j) in value" :key="j"> 
                                {{item}}
                            </li>
                        </template>
                    </ul>
                    <p v-else-if="error && error.message" class="error-msg">{{error.message}}</p>

                    <div class="form-group">
                        <label class="control-label">Email</label>
                        <input type="email" v-model="email" class="form-control" placeholder="Enter a valid email address" required />
                    </div>

                    <div class="form-group">
                        <label class="control-label">Password</label>
                        <input type="password" v-model="password" placeholder="xxxxxxxx" class="form-control" required />
                    </div>

                     <div class="form-group">
                        <label class="control-label">Confirm Password</label>
                        <input type="password" v-model="password_confirmation" placeholder="xxxxxxxx" class="form-control" required />
                    </div>

                    <div class="form-group">
                        <button class="btn btn-primary">
                            <img src="/Images/loader.gif" v-show="formLoader" />
                            Register
                        </button>
                        <router-link to="/login">login</router-link>
                    </div>
                </form>
            </div>
            
        </div>
    </div>
    
</template>

<script>

    export default {
        name: 'Register',
        data(){
            return {
                error : null,
                email : "",
                password : "",
                password_confirmation : ""
            }
        },

        computed : {
            formLoader(){
                return this.$store.getters.formLoader;
            }
        },
        
        methods : {
            async Register(){
                const result = await this.$store.dispatch('register', {
                    email : this.email,
                    password : this.password,
                    password_confirmation : this.password_confirmation
                });
                
                if(Object.prototype.hasOwnProperty.call(result, 'error')){
                    this.error = result.error;
                }else{
                    this.$router.push('/');
                }
            
            }
        }
    }

</script>

<style lang="scss">
    @import url('./style.scss');
</style>