.auth-container{
    width: 500px;
    margin: 30px auto;
}

.error-list{
    padding: 0;
    list-style: none;

    .list-item{
        font-size: 11px;
        color: red;
    }
}

.error-msg{
    font-size: 12px;
    color: red !important;
}

button img{
    height: 30px;
}