<template>
    <div class="wrapper">
        <div class="sidebar" data="vue">
            <div class="sidebar-wrapper" id="style-2">
                <div class="logo">
                   <router-link to='/' class="simple-text logo-normal">Weather DASH</router-link>
                </div>
                <ul class="nav">
                    <li class="nav-item">
                        <router-link to="/" class="nav-link">
                            <i class="tim-icons icon-chart-pie-36"></i>
                            <p>dashboard</p>
                        </router-link>
                    </li>
                    <li class="nav-item">
                        <router-link to="/admin" class="nav-link">
                            <i class="tim-icons icon-chart-pie-36"></i>
                            <p>Admin</p>
                        </router-link>
                    </li>
                </ul>
            </div>
        </div>

        <div class="main-panel">
            <nav class="navbar navbar-expand-lg navbar-absolute navbar-transparent">
                <div class="container-fluid">
                    <div class="navbar-wrapper">
                        <div class="navbar-toggle d-inline">
                            <button type="button" aria-label="Navbar toggle button" class="navbar-toggler">
                                <span class="navbar-toggler-bar bar1"></span>
                                <span class="navbar-toggler-bar bar2"></span>
                                <span class="navbar-toggler-bar bar3"></span>
                            </button>
                        </div>
                        <a href="#pablo" class="navbar-brand">Weather DASHBOARD</a>
                    </div>
                    <button type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-label="Toggle navigation" class="navbar-toggler">
                        <span class="navbar-toggler-bar navbar-kebab"></span>
                        <span class="navbar-toggler-bar navbar-kebab"></span>
                        <span class="navbar-toggler-bar navbar-kebab"></span>
                    </button>

                    <button class="btn btn-danger" @click="logout">logout</button>
                </div>
            </nav>

            <div class="content">
                <router-view />
            </div>
                    
        </div>
    </div>


</template>

<script>
    export default {
        data(){
            return {
            }
        },

        mounted(){
            console.log("layout mounted");
        },

        methods : {
            logout(){
                this.$store.dispatch('logout');
            }
        },

        conputed : {
            user(){
                return this.$store.getters.user;
            }
        }
    }
</script>

<style lang="scss">
    .loader{
        width: 100px;
        margin: auto;
        display: block;
    }
</style>